body{
    background-image:url(star.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
body h1{
    color: white;
    font-style: italic;
}
body table button{
      background-color: rgb(164, 164, 164);
}
input{
    background-color: white;
    border:2px solid bisque;
}
